@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: url('https://cdn.pixabay.com/photo/2016/06/02/02/33/triangles-1430105_1280.png');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
}

main {
  max-width: 1200px; /* Aumenta a largura máxima do conteúdo */
  margin: 0 auto; /* Centraliza o conteúdo */
  padding: 20px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.9); /* Fundo semitransparente */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav a {
  text-decoration: none;
  color: white;
  padding: 0.5rem 1rem;
}

nav a:hover {
  text-decoration: underline;
}
